html {
    font-family: sans-serif;
  }
  
  #map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10%;
    height: 10%;
}
  
  form {
    text-align: center;
    margin: 2rem auto;
  }